@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #111111;
    /* macro-charcoal */
    color: #DED5B6;
    /* macro-cream */
    overflow-x: hidden;
  }
}

@layer utilities {
  .glass-panel {
    background: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF5F00;
}